<div class="error_message">
  <h1 class="error_header">Error 404:</h1>
  <p class="body_message">The page you were looking for could not be found.</p>
</div>

<center>
  <img src="/imgs/milk.jpg" alt="spil milk" height="800" width="1850">
</center>
