<div class="error_message">
  <h1 class="error_header">Error 403:</h1>
  <p class="body_message">That client has not submitted any data yet.</p>
</div>


<center>
  <img src="/imgs/milk.jpg" alt="spil milk" height="800" width="1850">
</center>
