<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/application.css">
    <title>Rush Hour</title>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
